.row.weather
  .eight.columns
    .left_space
      = render 'weather/weather_today'
  .four.columns
    = render 'weather/weather_week'

.row
  .twelve.columns
    .weather-description-tablet.left_space
      The most accurate weather brought to you today by
      =link_to @provider_name, "#"
      , accuracy of #{@services.first[:score]} %.
      %br
      Today's high: #{@day[0][:high]}° Low:#{@day[0][:low]}°
    
.row
  .gradient-bar
