.row
  .six.columns
    .icon.cloudy.left_icon
    %span.weather-now
      #{@current_temp}°#{"<span class=measuring>F</span>".html_safe}
  .six.columns
    The most accurate weather today brought to you today 
    =link_to @provider_name, "#"
    %br
    Accuracy of #{@services.first[:score]} %
    %br
    %br
    Today's high: #{@day[0][:high]}° Low:#{@day[0][:high]}°
