.row
  .six.columns
    .icon.cloudy.left_icon
    %span.weather-now
      #{@current_temp}°#{"<span class=measuring>F</span>".html_safe}
  .six.columns
    .weather-description
      The most accurate weather brought to you today by
      =link_to @provider_name, "#"
      %br
      %br
      Accuracy of #{@services.first[:score]} %
      %br
      Today's high: #{@day[0][:high]}° Low:#{@day[0][:high]}°
