.row
  .six.columns
    .icon.left_icon{:style => "background:url('/assets/weather/#{@day[0][:string]}.png')"}
    %span.weather-now
      #{@current_temp}°#{"<span class=measuring>F</span>".html_safe}
  .six.columns
    .weather-description
      The most accurate weather brought to you today by
      =link_to @provider_name, @services.first[:service].url_for_city(@my_city)
      %br
      %br
      Accuracy of #{@services.first[:score]} %
      %br
      Today's high: #{@day[0][:high]}° Low:#{@day[0][:low]}°
