%table.main-table
  %thead
    %tr
      %th Ranking
      %th Accuracy #{"<a href='#accuracy_detail' data-reveal-id='accuracy'>(?)</a>".html_safe}
      %th Error #{"<a href='#accuracy_detail' data-reveal-id='error'>(?)</a>".html_safe}
  %tbody
    - @services.each do |s|
      %tr
        %td= link_to s[:service].full_name, s[:service].url_for_city(@my_city)
        %td #{s[:score]}%
        %td
          %span.sparkline= s[:service].delta_comparison_data(@my_city).map {|a| a[1]}.join(",")

:javascript
  $(document).ready(function() {
    $(".sparkline").sparkline();
  });
  
.view-city-details
  =link_to "View the details for #{@my_city.name} »", "/city/#{slug(@my_city.name)}/details"
