%p#notice= notice

%p
  %b Name:
  = @city.name
%p
  %b Latitude:
  = @city.latitude
%p
  %b Longitude:
  = @city.longitude
%p
  %b Postal code:
  = @city.postal_code
%p
  %b Postal code:
  = @city.region_code
  

= link_to 'Edit', edit_city_path(@city)
\|
= link_to 'Back', cities_path
