!!! 5
%html
  %head
    %title WeatherRooster.com - The Most Accurate Weather in Your Neighborhood
    %meta(content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0" name="viewport")/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render :partial => 'meta/google_analytics'
    %meta(property="og:title" content="WeatherRooster.com")
    %meta(property="og:description" content="The Most Accurate Weather in Your Neighborhood")
    %meta(property="og:type" content="website")
    %meta(property="og:url" content="http://WeatherRooster.com")
    %meta(property="og:image" content="http://weatherrooster.com/assets/logo.png")
    %meta{'git-revision' => GIT_REVISION}

  %body
    .container
      =render 'layouts/header'
      -if controller.action_name == 'main' or controller.action_name == 'city_details'
        = render 'home/city'
        = render 'weather/weather'
      .main.row
        =yield
    =render 'layouts/footer'
    = render :partial => 'meta/facebook_meta'
